@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1614178807230'); /* IE9 */
  src: url('iconfont.eot?t=1614178807230#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABoAAAAJ8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEcATYCJAMICwYABCAFhG0HLxvBBRHVkw1kf0igp7bkBadkOqonms5VkpjSJCrqz8zhTlb2ZM15cBU4eCZ4vvb7nbtvvxmWXDUR1RKEQshUGsN0QlMPmR4gQACyNeeALZCKUCXZm0MFQPkvYJpRPzTeMst/5wHYgLMkzXERfeomv8Hb01igo8KJicRpmuiYIj8JuwKgDY6oqxlwOf0J9CCjDii3PWmsyWMCBpYGuBdGkZVQ4qE1jF3gEu5DADuhJCPVw+ZuQmMtE0CW7bkJyoXRaJazIphr9mrkjDxWdaIGTsPPyw+ZYgWFycBqaJ+tmeZ37IK2/7dPPkEkhYAOmwADSAY0SHdtuhUQxhnY0xIJ+6oVeAffhez1z0PMWNVOAIKh4p6UrupWqxUAOh6PB0pH/dZBBSTPgwzhK1UXT8n4izfCJao4uXN5i5y1yz7ht/oQlDHeqPgW+J2KAtVxiL5E46qbvtWM4eEWF+OvGc9qBBBIv+7nmu5TA3C76Qttmn5esJ7BI/CnlD37tK62nEqrylqvIn7UUgXYsQP/2O/H/VhL4G3lBSuBN+e1EJLCwEo0qdlkmHCQDTNWymAnibrDDvxZAUTbgEQOAAQvF1C4uYKBlxtSs3cwEcQfzHjFgJ1eqZ7pIFYgu9IjvDO+4PEH+xkGwnFzJapdoHx7d8qqQ36DlNgx0BWtmBthgDTHhuQjDWYBgkIfhuAx9LwQIgodfLJiMUemqoq6FynP0E9VUj3CO+MLHn+wn2Eg/NFcKb1/gfLt3amlqSa7QUrsyUFXtB7kyBD0arqXZ5KPNJgFCAp9GIJZ6HkhRPWzHHyyYo1IRqZqDxN9Dcr6Jv8DylkbllWl7SkGeev9sjGVAg==') format('woff2'),
  url('iconfont.woff?t=1614178807230') format('woff'),
  url('iconfont.ttf?t=1614178807230') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1614178807230#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-butterfly:before {
  content: "\e606";
}

